<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>教师页面</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/published_info_script.js"></script>
</head>

<body style="background-color:#f2f5f9">
    <header>
        <div class="logo_style">琢玉</div>
        <nav>
            <ul class="nav_links">
                <li><a href="homepage_tea.html">主页</a></li>
                <li><a href="../../info_release/templates/info_release_tea.html">信息发布</a></li>
                <li><a href="javascript:;">NavBarRight</a></li>
            </ul>
        </nav>
        <a href="../../login/templates/login_teacher.html" class="exit_button"><button>退出登录</button></a>
    </header>

    <main>
        <div class="wtf_main">
            <div class="home_stu_submited">
                <div class="stu_text_box1">已发布信息</div>
                <button class="stu_submited_search" id="btnSearch">查找</button>
                <div id="published_info"></div> <!-- 用于显示已发布信息 -->
                

                <table id="data-table" class="generate_table">
                    <thead>
                        <tr>
                            <th class="generate_table">ID</th>
                            <th class="generate_table">Name</th>
                            <th class="generate_table">Sex</th>
                            <th class="generate_table">School</th>
                            <th class="generate_table">Stage</th>
                            <th class="generate_table">Subject</th>
                            <th class="generate_table">Start_time</th>
                            <th class="generate_table">End_time</th>
                            <!-- 根据你的数据库表的字段名添加更多列 -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 数据行将通过 JavaScript 动态插入 -->
                    </tbody>
                </table>


            </div>
        </div>
    </main>
    <div class="soft_info">
        <h3>
        《琢玉》是一款由哈尔滨工业大学软工自主研发的游戏。游戏发生在一个被称作“银河系猎户座第三旋臂太阳系第三行星”的世界，玩家将扮演一个被称作“大学牲”的神秘角色，在学校的旅程中邂逅风格各异，要求独特的DDL，并和同学们一起击败考试，寻找丢失的学分绩，同时逐步发掘“通宵写报告”的真相
        </h3>
    </div>

</body>

</html>
