<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>教师页面</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/pass_modify_script.js"></script>
</head>

<body style="background-color:#f2f5f9">
    <header>
        <div class="logo_style">琢玉</div>
        <nav>
            <ul class="nav_links">
                <li><a href="../../homepage/templates/homepage_tea.html">主页</a></li>
                <li><a href="../../info_release/templates/info_release_tea.html">信息发布</a></li>
                <li><a href="javascript:;">个人信息</a></li>
            </ul>
        </nav>
        <a href="../../login/templates/login_student.html" class="exit_button"><button>退出登录</button></a>
    </header>

    <main class="wtf_main">
        <div class="infobox_header">
            <div>
                修改密码
            </div>
        </div>

        <div class="infobox">
            <div class="imgbox">
                <img src="../imgs/Alice.png" alt="用户头像" class="img_form" id="user_avatar">
            </div>

            <div class="textbox">
                <div class="password-form-group">
                    <label for="old_password">原密码：</label>
                    <input type="password" id="old_password" name="old_password" class="required">
                </div>
                <div class="password-form-group">
                    <label for="new_password">新密码：</label>
                    <input type="password" id="new_password" name="new_password" class="required">
                </div>
                <div class="password-form-group">
                    <label for="confirm_password">确认密码：</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="required">
                </div>
            </div>
        </div>

        <div class="passwordbox">
            <button id="info_tea">个人信息</button>
            <button id="password_modify">修改密码</button>
            <button id="id_delete">账号注销</button>
        </div>

        <div class="savebox">
            <button id="confirm_submit">确认提交</button>
        </div>
    </main>
<!--
    <div class="soft_info">
        <h3>
            《琢玉》是一款由哈尔滨工业大学软工自主研发的游戏。游戏发生在一个被称作“银河系猎户座第三旋臂太阳系第三行星”的世界，玩家将扮演一个被称作“大学牲”的神秘角色，在学校的旅程中邂逅风格各异，要求独特的DDL，并和同学们一起击败考试，寻找丢失的学分绩，同时逐步发掘“通宵写报告”的真相
        </h3>
    </div>
-->
    <script>
        document.getElementById("info_tea").onclick = function () {
            location.href = "../templates/info_complete.html";
        };
        document.getElementById("password_modify").onclick = function () {
            location.href = "../templates/pass_modify.html";
        };
        document.getElementById("id_delete").onclick = function () {
            location.href = "../templates/id_delete.html";
        };
    </script>
</body>

</html>
